* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-VariableFont_wdth\,wght.woff2") format("woff2");
    font-weight: 100 900;
    font-stretch: 75% 100%;
    font-style: normal;
}

* { 
    font-family: "roboto", Arial, Helvetica, sans-serif;
}